<mat-card>
  <mat-card-title>
    <span *ngIf="currentWidget.id == null; else editTitle">
      Select widget
    </span>
    <ng-template #editTitle>
      Edit Widgets {{ currentWidget?.title }}</ng-template
    >
  </mat-card-title>
  <!-- <mat-card-content>
    <form #wForm="ngForm" (submit)="SubmitWidget(currentWidget)">
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="currentWidget.title"
          placeholder="Title"
          type="text"
          required
          name="title"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          name="description"
          [(ngModel)]="currentWidget.description"
          placeholder="Description"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="currentWidget.email"
          placeholder="Email"
          type="email"
          required
          name="email"
        />
      </mat-form-field>

      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="wForm.invalid"
      >
        Save
      </button>
      <button
        mat-button
        type="reset"
        color="secondary"
        (click)="wForm.reset(); canceled.emit()"
      >
        Cancel
      </button>
    </form>
  </mat-card-content> -->
  <mat-card-content>
    <form
      #wForm="ngForm"
      (submit)="SubmitWidget(widgetForm.value)"
      [formGroup]="widgetForm"
    >
      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="title"
          placeholder="Title"
          type="text"
          required
          name="title"
        />
        <mat-error *ngIf="widgetForm.get('title').hasError('required')">
          Title is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          name="description"
          formControlName="description"
          placeholder="Description"
          required
        />
        <mat-error *ngIf="widgetForm.get('description').hasError('required')">
          Description is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          type="email"
          required
          name="email"
        />
        <mat-error *ngIf="widgetForm.get('email').hasError('required')">
          Email address is required.</mat-error
        >
        <mat-error *ngIf="widgetForm.get('email').hasError('pattern')">
          Please enter valid email address.
        </mat-error>
        <mat-error *ngIf="errorMessage">
          Email address already exist.
        </mat-error>
      </mat-form-field>

      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="wForm.invalid"
      >
        Save
      </button>
      <button
        mat-button
        type="reset"
        color="secondary"
        (click)="wForm.reset(); canceled.emit()"
      >
        Cancel
      </button>
    </form>

    <div
      *ngIf="emailAlredyExistError$ | async as emailAlredyExistError"
      class="alert alert-danger"
    ></div>
  </mat-card-content>
</mat-card>
<!-- {{ wForm | json }} -->
